html,body{
	width: 100%;
	height: 100%
}
h4{
	text-align: center;
}
body{
	padding: 0 2% 2% 2%;
}
.blubox {
	widows: 100%;
	height: 100%;
	background-color: #042F5F;
	border: 5px solid #070068;
	padding: 2%
}
.secondbox{
	width: 100%;
	height: 100%;
	background-color: #FCFCFC;
	border: 5px solid #0071BC;
	padding: 3%

}
.box1{
	width: 100%;
	height: 36%;
	background-color: #304A67;
	border: 5px solid #2267B5;
	margin-bottom: 7%;
	margin-top: 1%;
	padding: 2%


}
.box2{
	width: 100%;
	height: 48%;
	background-color: #304A67;
	border: 5px solid #2267B5;
	margin-top: 1.5% ;
	text-align: center;
	font-size:30px;


}
.parentbox1{

	width: 24%;
	height:100%;
	background-color:#FFFFFF;
	border: 4px solid #93278F;  
	display: inline-block;


}
.parentbox2{
	width: 24%;
	height: 100%;
	background-color:#FFFFFF;
	border: 4px solid #93278F; 
	display: inline-block;

}
.parentbox3{
	width: 24%;
	height: 100%;
	background-color:#FFFFFF;
	border: 4px solid #93278F; 
	display: inline-block;

}
.parentbox4{
	width: 24%;
	height: 100%;
	background-color:#FFFFFF;
	border: 4px solid #93278F; 
	display: inline-block;

}


